body {
    font-family: 'Courier New', Courier, monospace;
    margin:0; padding:0;
    background-color: rgb(166, 166, 255);
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto
}

form {
    font-family: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    border: 2px solid rgb(92, 92, 92);
    border-radius: 5px;
}

ul * button {
    background-color: rgb(255, 164, 164);
    border-radius: 5px;
    font-size: 12pt;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    border-radius: 5px;
    margin: 2px;
    padding: 4px 8px 4px 8px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
}

canvas {
    border: 1px solid black;
    margin: 15px 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

p {
    font-size: 10pt;
}

#message {
    margin-top: 10px;
    color: blue;
}

#intro {
    display: block;
    background-color: rgb(205, 144, 255);
    border: 2px solid rgb(102, 48, 173);
    margin: 14px 38px 14px 38px;
}